<% layout('Bolierplate.ejs') %>

  <div class="alert alert-success">logedin successfully!</div>
    
   
  <script>
    setTimeout(() => {
      window.location.href = "http://localhost:3001";
     
    }, 500); 
  </script>


